{% extends "base.html" %}

{% block title %}oech{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h3>openEuler Hardware Compatibility Test</h3>
    </div>
    {% for device in devices %}
    <table class="table table-striped table-hover">
        <thead>
            <th colspan="2"> {{ device.get("DEVPATH") }}</th>
        </thead>
        <tbody>
            {% for key in device %}
            <tr>
                <td width="30%">{{ key }}</td>
                <td>{{ device.get(key) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
{% endblock %}
