[Unit]
Description=openEuler Hardware Certification Server
After=network.target

[Service]
Type=notify
ExecStartPre=/usr/share/eulercert/lib/server/eulercert-server-pre.sh
ExecStart=/usr/local/bin/uwsgi --ini /usr/share/eulercert/lib/server/uwsgi.ini

[Install]
WantedBy=multi-user.target
