[Unit]
Description=openEuler Hardware Compatibility Test Suite
After=basic.target network.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStartPre=/usr/bin/bash /usr/share/oech/lib/oech_logrotate.sh start_logrotate
ExecStart=/usr/bin/oech --rebootup
ExecStop=/usr/bin/bash /usr/share/oech/lib/oech_logrotate.sh stop_logrotate
RemainAfterExit=yes
TimeoutSec=0

[Install]
WantedBy=multi-user.target
